
svg { 
	border: 1px solid gray;
}

#graph { 
	margin: 50px;
	width: 1000px;
	background-image: url("map.png");
	background-repeat: no-repeat;
	overflow: hidden;
}

line { 
	stroke: #000000;
	stroke-width: 2;
}

.node { 
	fill: #DC282C;
	stroke: #3E4552;
	stroke-width: 2;
}
